/* TODO: utilize custom props in a more efficient way */

/**
	design tokens / custom properties
	--font-size-min
	--font-size-max
	--font-weight-default
	--font-stretch-default
	--font-weight-display
	--font-stretch-display
	--spacing-base
*/

/* Defaults */
:root {
	--font-family-body: "Mona Sans", system-ui, sans-serif;
	--font-family-display: "Hubot Sans", system-ui, sans-serif;
	--font-weight-display: 820;
	--font-stretch-display: 125%;
	--font-family-monospace: Menlo, monospace;

	--font-size-min: 1rem;
	--font-size-max: 1.5rem;

	--page-width: 110ch;

	--syntax-tab-size: 2;

	--color-accent-hue-on-light: 327;
	--color-accent-hue-on-dark: 104;

	--border-radius: 0.25em;

	--spacing-base: 1rem;
	--spacing-rel-large: 2em;
	--spacing-rel-base: 1em;
	--spacing-rel-small: 0.5em;
	--spacing-rel-tiny: 0.25em;
}

/* Theme colors */
:root {
	--color-gray-20: hsl(var(--color-accent-hue-on-light), 5%, 88%);
	--color-gray-50: hsl(var(--color-accent-hue-on-light), 5%, 50%);
	--color-gray-90: hsl(var(--color-accent-hue-on-light), 5%, 20%);

	--text-color: var(--color-gray-90);
	--text-color-link: hsl(var(--color-accent-hue-on-light), 78%, 24%);
	--text-color-link-active: hsl(var(--color-accent-hue-on-light), 38%, 34%);
	--text-color-link-visited: var(--text-color-link);
	--text-color-link-weak: hsla(
		var(--color-accent-hue-on-light),
		81%,
		74%,
		0.15
	);

	--background-color: hsl(var(--color-accent-hue-on-light), 15%, 95%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: hsl(var(--color-accent-hue-on-dark), 5%, 20%);
		--color-gray-50: hsl(var(--color-accent-hue-on-dark), 5%, 50%);
		--color-gray-90: hsl(var(--color-accent-hue-on-dark), 5%, 85%);

		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: hsl(var(--color-accent-hue-on-dark), 81%, 74%);
		--text-color-link-active: hsl(var(--color-accent-hue-on-dark), 61%, 64%);
		--text-color-link-weak: hsla(
			var(--color-accent-hue-on-dark),
			81%,
			74%,
			0.15
		);

		--background-color: hsl(var(--color-accent-hue-on-dark), 15%, 13%);
	}
}
